<meta charset="utf-8">
<title>Event Palooza</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/show.css">
<link rel="stylesheet" href="/css/eventNew.css">