<!-- <nav>
  <h1 id="store"><a href="/products">The Mongoose Store</a></h1>
  <button type="button" name="button" class="new-product"><a href="/products/new">New Product</a></button>
</nav> -->
<header>
        <nav class="nav-bar">
            <img src="../img/eventFinderLogo.png" alt="logo" class="logo">
            <div class="min-bar">
            <a href="#">Events</a>
            <a href="#">Log In</a>
            <button class="submit-btn"><a href="#">Sign Up</a><button>
            </div>
        </nav>
    </header>







    