.event-show-section {
    margin: 20px 100px;
}
.event-show-container, .event-img-box, .show-text, .btn-container {
    margin: 20px 0;
}
.show-tag, .show-created-by {
    font-style: italic;
    font-size: .75em;
}
.show-tag {
    display: inline-block;
    border: 1px solid #2fb4e9;
    padding: 2px;
}
.show-created-by a {
    text-decoration: underline;
}
.btn-container.user {
    display: flex;
}
.like-btn {
    background-color: white;
    padding: 8px 5px;
    border: 1px solid #2fb4e9;
    border-radius: 1px;
}
.like-btn:hover {
    cursor: pointer;
}
.fa-heart {
    color: #2fb4e9;
}
.edit {
    margin-right: 10px;
}
.delete-btn, .delete-btn button {
    background-color: rgb(155, 155, 155);
    padding: 5px 8px;
    border: none;
    border-radius: 1px;
}
.delete-btn:hover, .delete-btn button:hover {
    cursor: pointer;
}