@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* ========================== GLOBAL PAGE STYLES ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f3efef;
    min-height: 100vh;
    position: relative;
}
/* ============================== PARTIALS ============================== */
header {
    background-color: #FAF9F6;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.min-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    padding: 0 3rem;
}
.min-bar h2 {
    font-weight: lighter;
}
.logo {
    width: 100px;
}
/* =========================== PAGE HEADINGS =========================== */
.page-heading, .page-sub-heading  {
    margin: 20px 0;
}
/* ============================== BUTTONS ============================== */
.submit-btn {
    background-color: #2fb4e9;
    padding: 8px 5px;
    border: 0;
    border-radius: 1px;
    color: white;
}
.submit-btn:hover {
    background-color: #2fa6d4;
    cursor: pointer;
}
.submit-btn a {
    color: white;
}
/* =============================== LINKS =============================== */
.register-link {
    color: blue;
}
a {
    color: black;
    text-decoration: none;
}
/* =========================== USER - LOGIN ============================ */
main {
    display: flex;
    justify-content: center;
    
}
.form {
    border: 1px solid black;
    padding: 100px 100px;
    margin: 100px;
    background-color: #FAF9F6;
    /* border-radius: 6px; */
}
.login-inputs {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: .5rem;
}
.bottom-register {
    display: flex;
    flex-direction: column;
}
.bottom-register p {
    margin-top: 1rem;
}
/* =========================== FOOTER =========================== */
footer {
    background-color: #FAF9F6;
    padding: 2.5rem 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 9rem;
}
footer p {
    text-align: center;
}