<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <div class="about-container">
                <div class="about-heading">
                    <h1>Creators</h1>
                </div>
                <div class="backend-devs">
                    <div class="e-flex">
                        <img src="/img/eCheung.png" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Eric Cheung</h2>
                            <p class="about-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis,
                                blanditiis
                                deserunt saepe in animi libero quasi sed iusto accusantium accusamus?
                            </p>
                        </div>
                    </div>
                    <div class="b-flex">
                        <img src="/img/bBender.jpeg" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Brevan Bender</h2>
                            <p class="about-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                optio.
                                Sapiente
                                sunt laborum consectetur aut vero molestiae itaque, ipsam autem.</p>
                        </div>
                    </div>
                </div>
                <div class="frontEnd-devs">
                    <div class="p-flex">
                        <img src="/img/pLinkedin.jpeg" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Pierre Tulifau</h2>
                            <p class="about-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis,
                                blanditiis
                                deserunt saepe in animi libero quasi sed iusto accusantium accusamus?
                            </p>
                        </div>
                    </div>
                    <div class="a-flex">
                        <img src="/img/Angela.jpeg" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Angela Francisco</h2>
                            <p class="about-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti,
                                optio.
                                Sapiente
                                sunt laborum consectetur aut vero molestiae itaque, ipsam autem.</p>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <%- include ('../partials/footer') %>

</html>