<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <div class="about-container">
                <div class="about-heading">
                    <h1>Creators</h1>

                </div>
                <div class="backend-devs">
                    <div class="e-flex">
                        <img src="/img/eCheung.png" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Eric Cheung</h2>
                            <p class="about-p">A little about me, I love coffee the most of the group. I am busy during
                                the weekends watching Formula 1 and eating chipotle. You should get to Brevan before me
                                though.
                                <iframe src="https://giphy.com/embed/cs2qZnZmq0Nj2" width="480" height="480"
                                    frameBorder="0" class="giphy-embed pGif" allowFullScreen></iframe>
                            <p><a href="https://giphy.com/gifs/cs2qZnZmq0Nj2"></a></p>
                            </p>
                        </div>
                    </div>
                    <div class="b-flex">
                        <img src="/img/bBender.jpeg" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Brevan Bender</h2>
                            <p class="about-p">Brevan likes hiking, climbing, and chasing waterfalls. He thinks you
                                should really get to know Eric. He's a neat guy.
                                <iframe src="https://giphy.com/embed/111ebonMs90YLu" width="480" height="360"
                                    frameBorder="0" class="giphy-embed pGif" allowFullScreen></iframe>
                            <p><a href="https://giphy.com/gifs/thumbs-up-111ebonMs90YLu"></a></p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="frontEnd-devs">
                    <div class="p-flex">
                        <img src="/img/pLinkedin.jpeg" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Pierre Tulifau</h2>
                            <p class="about-p">Pierre loves the hussle, working out, family time. He has a passion for
                                sneakers. His favorite foods are teriyaki beef and rice. He loves good music and playing
                                Madden.
                                <img class="pGif" src="/img/pierre2.GIF" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="a-flex">
                        <img src="/img/Angela.jpeg" class="portrait" alt="">
                        <div class="p-container">
                            <h2>Angela Francisco</h2>
                            <p class="about-p">Angela loves coffee, camping and of course, coding. She has a dog named
                                Luya and her favorite gif is from the tv show "I Think You Should Leave"
                                <iframe src="https://giphy.com/embed/iF7YSTIyPdhoccP5yQ" width="480" height="270"
                                    frameBorder="0" class="giphy-embed pGif" allowFullScreen></iframe>
                            <p><a
                                    href="https://giphy.com/gifs/thelonelyisland-stinky-stink-stinks-iF7YSTIyPdhoccP5yQ"></a>
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <%- include ('../partials/footer') %>

</html>