<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <h1>New event</h1>
    <!--Match the model for events-->
    <form action="/events " method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <br>
        <label for="description">Description:</label>
        <input type="text" name="description">
        <br>
        <label for="image">Image URL:</label>
        <input type="text" name="image">
        <br>
        <label for="date">Date:</label>
        <input type="text" name="date">
        <br>
        <label for="organization">Organization:</label>
        <input type="text" name="organization">
        <br>
        <label for="tag">Event Type:</label>
        <div class="dropdown">
            <select name="tag" id="dropdown-event-tag">
                <option value="">--Select Event Type--</option>
                <option value="Music">Music</option>
                <option value="Arts & Culture">Arts & Culture</option>
                <option value="Community Events">Community Events</option>
                <option value="Outdoor Recreation">Outdoor Recreation</option>
                <option value="Health/Fitness">Health/Fitness</option>
            </select>
        </div>
        <br>
        <label for="location">Location:</label>
        location: <input type="text" name="location">

        <button class="submit-btn" type="submit">Submit</button>
    </form>
</body>

</html>