<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New event</h1>
    <!--Match the model for events-->
    <form action="/events " method="POST">
        name: <input type="text" name="name">
        description: <input type="text" name="description">
        image URL: <input type="text" name="image">
        date: <input type="text" name="date">
        organization: <input type="text" name="organization">
        <button type="submit">Submit</button>
    </form>
</body>

</html>