<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <h1>New event</h1>
    <!--Match the model for events-->
    <form action="/events " method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="description">Description:</label>
        <input type="text" name="description">

        <label for="image">Image URL:</label>
        <input type="text" name="image">

        <label for="date">Date:</label>
        <input type="text" name="date">

        <label for="organization">Organization:</label>
        <input type="text" name="organization">

        <label for="tag">Tag:</label>
        <input type="text" name="tag">

        <label for="location">Location:</label>
        location: <input type="text" name="location">

        <button type="submit">Submit</button>
    </form>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
</body>

</html>